@use '@styles/variables' as var;
@use '@styles/mixins' as *;

.decor{
  text-decoration: underline;
}
.icon-white path{
  fill: white;
}

.banner_img{
  display: block;
  width: 100%;
  aspect-ratio: 1440 / 572; 
  height: auto;
  object-fit: contain;
  object-position: center;
  margin-bottom: var.$space-xxs;

  @include tablet{
    object-fit: cover;
    height: 360px;
    max-width: var.$breakpoint-md;
  }
}

.content{
  position: relative;
  min-height: 400px;
  &__text{
    text-align: center;
  }
  &__inputs{
    display: grid;
    gap: var.$space-l;

    @include mobile{
      gap: calc(var.$space-l / 2);
    }
  }
  &__list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: calc(4 * var.$space-m);
    justify-content: space-between;
    align-items: stretch;

    @include mobile{
      gap: var.$space-m;
    }
  }

  &__loader{
    width: 100%;
    height: 100%;
    @include flex-center;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__loader_s{
    @include flex-center;
  }

}

.main__content{
  @include padding-page;
  display: grid;
  gap: calc(2 * var.$space-xl);

  @include mobile{
    gap: var.$space-xl;
  }
}

.inputs__search{
  display: flex;
  justify-content: space-between;
  gap: var.$space-l;

  @include mobile{
    gap: calc(var.$space-l /2);
  }
  
  .search{
    flex-grow: 1;
    
    &__btn{
      background: none;
      border: none;
      padding: 0;
      margin: 0;
      font-family: inherit;
      font-size: 24px;
      color: var.$brand-disabled; 
      cursor: pointer;
      outline: inherit;
      text-decoration: none;
      display: inline-flex; 
      align-items: center;
    }
  }
}

.inputs__drop{
  display: flex;
  justify-content: flex-end;
  
  .drop{
    width: 300px;
  }
}