@use "@styles/variables" as var;
@use "@styles/mixins" as *;

.main {
  position: relative;
  min-height: 100vh;
  display: grid;
  gap: calc(2 * var.$space-xl);
  @include padding-page;

  @include mobile {
    gap: var.$space-xl;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: calc(4 * var.$space-m);
    justify-content: space-between;
    align-items: stretch;

    @include mobile {
      gap: var.$space-m;
    }
  }

  &__loader {
    @include page-loader;

    &_s {
      @include flex-center;
    }
  }
}
