@use '@styles/variables' as var;

@mixin flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin grid-center{
  display: grid;
  align-items: center;
  justify-items: center;
}

@mixin app-border{
  border-radius: var.$border-radius;
}

@mixin flex-align{
  display: flex;
  align-items: center;
}

@mixin padding-inputs{
  padding: var.$space-s var.$space-xs;
}

@mixin dekstop{
  @media (max-width: var.$breakpoint-lg) {
    @content;
  }
}

@mixin tablet{
  @media (max-width: var.$breakpoint-md) {
    @content;
  }
}

@mixin mobile{
  @media (max-width: var.$breakpoint-sm) {
    @content;
  }
}

@mixin padding-page {
  padding: calc(2*var.$space-s) var.$padding-page;

  @include dekstop{
    padding: calc(2*var.$space-s) var.$padding-page-d;
  }

  @include mobile{
    padding: calc(2*var.$space-s) var.$padding-page-m;
  }
}






 

