$brand: #b5460f;
$brand-hover: #b5460fb2;
$brand-active: #872d01;
$brand-disabled: #d9d9d9;

$border-radius: 10px;

$space-xl: 24px;
$space-l: 20px;
$space-m: 16px;
$space-s: 14px;
$space-xs: 12px;
$space-xxs: 8px;

$padding-page: 100px;
$padding-page-d: 30px;
$padding-page-m: 10px;

$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 375px;
