@use "@styles/variables" as var;

.icon {
  &_fill path {
    fill: inherit;
  }

  &_stroke path {
    stroke: inherit;
  }

  &_color {
    &_primary {
      &-fill path {
        fill: black;
      }

      &-stroke path {
        stroke: black;
      }
    }

    &_secondary {
      &-fill path {
        fill: #afadb5;
      }

      &-stroke path {
        stroke: #afadb5;
      }
    }

    &_accent {
      &-fill path {
        fill: var.$brand;
      }

      &-stroke path {
        stroke: var.$brand;
      }
    }
  }
}
