@use "@styles/variables" as var;

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  animation: spin 0.8s linear infinite;

  &_size {
    &_m {
      width: 48px;
      height: 48px;
    }

    &_s {
      width: 24px;
      height: 24px;
    }

    &_l {
      width: 60px;
      height: 60px;
    }
  }

  path {
    fill: var.$brand;
  }
}

.btn-loader path {
  fill: white;
}
