@use '@styles/variables' as var;

.loader{
  &_size{
    
    &-m{
      width: 48px;
      height: 48px;
    }

    &-s{
      width: 24px;
      height: 24px;
    }
    
    &-l{
      width: 60px;
      height: 60px;
    }
  }
}

.btn-loader path{
  fill: white;
}
